@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/S6uyw4BMUTPHjxAwXjeu.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/S6uyw4BMUTPHjx4wXg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-family: "Lato";
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  outline: none;
}

#error-screen {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: #000;
  padding: 2rem;
}

#error-screen .content {
  display: flex;
  justify-content: center;
}

#error-screen .content .logo {
  width: 40%;
}

#error-screen .content .logo img {
  width: 100%;
}

#error-screen .content .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#error-screen .content .details .code {
  font-size: 10rem;
  font-weight: bold;
  color: #fff;
}

#error-screen .content .details .text {
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

#console {
  width: 50%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 15px;
  overflow-y: scroll;
  z-index: 2000;
  display: none;
}

#console p {
  color: #fff;
  font-size: 19px;
  margin: 5px 0;
}
