#home-screen {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#home-screen .content .details {
  height: 50vh;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}

#home-screen .content .details.full {
  height: 70vh;
}

#home-screen .content .details .background {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.5s;
  width: 60%;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

#home-screen .content .details.full .background {
  position: fixed;
  width: 100%;
}

#home-screen .content .details .background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 240px -200px 1000px 0 rgb(0, 0, 0) inset;
}

#home-screen .content .details.full .background::after {
  box-shadow: 760px -250px 1000px 0 rgba(0, 0, 0, 0.7) inset;
}

#home-screen .content .details .background img {
  width: 100%;
  position: absolute;
}

#home-screen .content .details.full .background img {
  position: fixed;
  width: 100%;
  min-height: 100%;
}

#home-screen .content .details .info {
  width: 70%;
  display: block;
  position: absolute;
  height: 100%;
  padding: 60px 400px 60px 8.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-screen .content .details .info .title {
  color: #fff;
  font-size: 5vh;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: #fff;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
  max-height: 200px;
}

#home-screen .content .details .info .description {
  color: #fff;
  font-size: 2.5vh;
  margin: 30px 0;
  max-height: 280px;
  transition: max-height 1s;
}

#home-screen .content .details .info .description.hide {
  max-height: 0;
  overflow: hidden;
  margin: 15px;
}

#home-screen .content .details .info .buttons {
  display: none;
}

#home-screen .content .details.full .info .buttons {
  display: block;
}

#home-screen .content .details .info .buttons a {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  min-width: 110px;
  display: inline-block;
  text-align: center;
  margin: 20px;
  font-size: 25px;
  text-transform: uppercase;
  opacity: 0.8;
}

#home-screen .content .details .info .buttons a:first-child {
  margin-left: 0;
}

#home-screen .content .details .info .buttons a.selected {
  border: 2px solid rgb(244, 130, 33, 0.9);
  box-sizing: border-box;
  box-shadow: 0 0 25px 6px #f47521, 0 0 15px 6px #f47521 inset;
  color: rgb(250, 150, 60);
  text-shadow: 0 0 25px #f47521, 0 0 15px #f47521, 0 0 15px #f47521;
  opacity: 1;
}