#home-screen {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#home-screen .content .logo-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 310px;
  height: 120px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.58);
  box-shadow: -10px -10px 90px 80px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-top-left-radius: 50px;
  z-index: 1;
}

#home-screen .content .logo-fixed img {
  width: 100%;
  opacity: 0.8;
}

#home-screen .content .details {
  height: 50vh;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}

#home-screen .content .details.full {
  height: 80vh;
}

#home-screen .content .details .background {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.5s;
  width: 60%;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

#home-screen .content .details.full .background {
  position: fixed;
  width: 100%;
}

#home-screen .content .details .background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 240px -200px 1000px 0 rgb(0, 0, 0) inset;
}

#home-screen .content .details.full .background::after {
  box-shadow: 760px -250px 1000px 0 rgba(0, 0, 0, 0.7) inset;
}

#home-screen .content .details .background img {
  width: 100%;
  position: absolute;
}

#home-screen .content .details.full .background img {
  position: fixed;
  width: 100%;
  min-height: 100%;
}

#home-screen .content .details .info {
  width: 70%;
  display: block;
  position: absolute;
  height: 100%;
  padding: 60px 400px 60px 8.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-screen .content .details .info .title {
  color: #fff;
  font-size: 5vh;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: #fff;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
  max-height: 200px;
}

#home-screen .content .details .info .description {
  color: #fff;
  font-size: 2.5vh;
  margin: 30px 0;
  max-height: 280px;
  transition: max-height 1s;
}

#home-screen .content .details .info .description.hide {
  max-height: 0;
  overflow: hidden;
  margin: 15px;
}

#home-screen .content .details .info .buttons {
  display: none;
}

#home-screen .content .details.full .info .buttons {
  display: block;
}

#home-screen .content .details .info .buttons a {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  min-width: 110px;
  display: inline-block;
  text-align: center;
  margin: 20px;
  font-size: 25px;
  text-transform: uppercase;
  opacity: 0.8;
}

#home-screen .content .details .info .buttons a:first-child {
  margin-left: 0;
}

#home-screen .content .details .info .buttons a.selected {
  border: 2px solid rgb(244, 130, 33, 0.9);
  box-sizing: border-box;
  box-shadow: 0 0 25px 6px #f47521, 0 0 15px 6px #f47521 inset;
  color: rgb(250, 150, 60);
  text-shadow: 0 0 25px #f47521, 0 0 15px #f47521, 0 0 15px #f47521;
  opacity: 1;
}

#home-screen .content .row .row-content .item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0px 8px;
  transition: 350ms all;
  transform-origin: center left;
}

#home-screen .content .row .row-content .item .poster {
  position: relative;
  width: 100%;
  padding-top: 150%;
}

#home-screen .content .row .row-content .item .poster.episode {
  padding-top: 55%;
}

#home-screen .content .row .row-content .item .poster img {
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
}

#home-screen .content .row .row-content .item .details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: 450ms opacity;
  color: #ecf0f1;
}

#home-screen .content .row .row-content .item:hover .details,
#home-screen .content .row .row-content .item:hover .info {
  opacity: 1;
}

#home-screen .content .row .row-content .item .details .title {
  position: absolute;
  bottom: 0;
  padding: 5%;
  white-space: normal;
  font-size: 70%;
}

#home-screen .content .row .row-content .item .info {
  font-size: 50%;
  position: absolute;
  top: 0;
  padding: 5% 7%;
  right: 0;
  background-color: #0009;
  border-bottom-left-radius: 10px;
  z-index: 100;
  text-decoration: none;
  color: white;
  font-weight: bold;
  opacity: 0;
  margin: 0;
}

#home-screen .content .row .row-content {
  width: calc(100% - 4.5vw);
  margin: 15px 0 50px 0;
}

#home-screen .content .row .row-content.episode {
  margin: 15px 0 113px 0;
}

#home-screen .content .row.slick-current .row-content {
  margin: 15px 0 50px 0;
}

#home-screen .content .row .row-content .slick-list {
  overflow: unset;
}

#home-screen .content .row .row-content .slick-track {
  padding-left: 8vw;
}

#home-screen .content .row .row-content .slick-slide {
  opacity: 0.3;
}

#home-screen .content .row .row-content .slick-active {
  opacity: 1;
}

#home-screen .content .row .row-content.selected::after {
  content: "";
  border: 6px solid rgb(244, 130, 33, 0.9);
  width: 196px;
  height: 100%;
  position: absolute;
  top: 0;
  margin-left: 8.3vw;
  box-sizing: border-box;
  box-shadow: 0 0 25px 6px #f47521, 0 0 15px 6px #f47521 inset;
}

#home-screen .content .row .row-content.episode.selected::after {
  width: 395px;
}

#home-screen .content .row .row-title {
  color: #fff;
  font-size: 1.2vw;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.9;
  padding-left: 8.5vw;
}

.row-content .slick-loading,
.row-content .slick-loading * {
  background: rgba(100, 100, 100, 0.5);
  content: url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
  border: none !important;
  box-shadow: none !important;
  outline: 0 !important;
  animation: poster-loading 2s infinite;
}

@keyframes poster-loading {
  50% {
    background: rgba(100, 100, 100, 0.2);
  }
}

/* ---------- */

.home_details-screen #home-screen .content .details.full .info .buttons,
.home_details-screen #menu-screen,
.home_details-screen .rows {
  display: none;
}

.home_details-screen.home_details-screen_buttons {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 5vh;
}

.home_details-screen.home_details-screen_buttons a {
  color: #fff;
  font-size: 25px;
  padding: 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 15px 40px;
  margin: 5px 0;
  font-size: 24px;
  opacity: 0.8;
  position: relative;
}

.home_details-screen.home_details-screen_buttons a i {
  margin-right: 20px;
}

.home_details-screen.home_details-screen_buttons a p {
  display: inline-block;
  margin: 0;
}

.home_details-screen.home_details-screen_buttons a.selected {
  border: 2px solid rgb(244, 130, 33, 0.9);
  box-sizing: border-box;
  box-shadow: 0 0 25px 6px #f47521, 0 0 15px 6px #f47521 inset;
  opacity: 1;
}

.home_details-screen.home_details-screen_buttons a.selected p,
.home_details-screen.home_details-screen_buttons a.selected i {
  color: rgb(250, 150, 60);
  text-shadow: 0 0 25px #f47521, 0 0 15px #f47521, 0 0 15px #f47521;
  opacity: 1;
}

.home_details-screen.home_details-screen_buttons a.played span {
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: attr(percent px);
  position: absolute;
  left: 0;
  bottom: 0;
}

.home_details-screen.home_details-screen_buttons a.selected.played p {
  color: #fff;
}
