#keyboard-screen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 20px;
  width: 40vw;
  min-width: 600px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#keyboard-screen .row {
  margin: 5px 0;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard-screen .padding {
  padding: 0 25px;
}

#keyboard-screen .col {
  padding: 0 5px;
  height: 25%;
  color: rgba(255, 255, 255, 0.5);
  float: left;
  font-size: 20px;
  text-align: center;
  line-height: 55px;
  border-bottom: 0.3rem solid transparent;
  font-weight: bold;
}

#keyboard-screen .size-backspace {
  width: 10%;
  background: url(../img/delete.png) no-repeat;
  background-size: 25px;
  background-position: center;
  opacity: 0.5;
  height: 59px;
}

#keyboard-screen .size-alpha {
  width: 10%;
  background: url(../img/alpha.png) no-repeat;
  background-size: 25px;
  background-position: center;
  opacity: 0.5;
  height: 59px;
}

#keyboard-screen .size-ok {
  width: 30%;
  background: url(../img/ok.png) no-repeat;
  background-size: 25px;
  background-position: center;
  opacity: 0.5;
  height: 59px;
}

#keyboard-screen .size-1 {
  width: 10%;
}

#keyboard-screen .size-2 {
  width: 30%;
}

#keyboard-screen .size-5 {
  width: 40%;
  height: 59px;
}

#keyboard-screen .size-5:after {
  content: "";
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  width: 94%;
  display: block;
  left: 3%;
  bottom: -70%;
  position: relative;
}

#keyboard-screen .col.selected {
  border-bottom: 0.3rem solid #f47521 !important;
  color: rgba(255, 255, 255, 1) !important;
  opacity: 1 !important;
}

#keyboard-screen .col.size-5.selected::after {
  border-color: rgba(255, 255, 255, 1) !important;
}
