#login-screen {
  width: 100%;
  height: 100%;
  background: #000;
  padding: 2rem;
}

#login-screen .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#login-screen .content .box {
  padding: 5rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-screen .content .box .logo {
  width: 70vh;
  margin-bottom: 20vh;
}

#login-screen .content .box .logo img {
  width: 100%;
}

#login-screen .content .box .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-screen .content .box .form .input {
  position: relative;
  display: flex;
  margin: 0 auto;
  /* transition: border-color 0.2s cubic-bezier(0.5, 0, 0.25, 1); */
  padding: 5px 15px;
  margin: 20px 0;
}

#login-screen .content .box .form .input::after {
  content: "";
  width: 100%;
  height: 0.3rem;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: -0.3rem;
  left: 0px;
}

#login-screen .content .box .form .input.focus::after {
  background: #f47521;
  /* box-shadow: 0 0 25px 6px #f47521, 0 0 15px 6px #f47521 inset; */
}

#login-screen .content .box .form .input input {
  border: none;
  color: #fff;
  display: block;
  flex: 1 1 auto;
  font-size: 2rem;
  padding-bottom: 0.25rem;
  padding-top: 0;
  width: 100%;
  background: transparent;
}

#login-screen .content .box .form .button {
  display: block;
  width: 80%;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 80px;
}

#login-screen .content .box .form .button.focus {
  background: #f47521;
  /* box-shadow: 0 0 25px 6px #f47521, 0 0 15px 6px #f47521 inset; */
}
