#menu-screen {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#menu-screen .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

#menu-screen .window {
  width: 20vw;
  height: 12vh;
  background: black;
  padding: 10px;
}

#menu-screen #menu-screen-title {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  padding: 3.5px;
  font-weight: bold;
}

#menu-screen #menu-screen-options {
  width: 100%;
  height: 65%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#menu-screen .option {
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  background-size: contain;
  opacity: 0.5;
  padding: 5px;
}

#menu-screen .selected {
  opacity: 1;
}

#menu-screen .option.search {
  background-image: url(../img/search.png);
}

#menu-screen .option.list {
  background-image: url(../img/list.png);
}

#menu-screen .option.quotes {
  background-image: url(../img/quotes.png);
}

#menu-screen .option.settings {
  background-image: url(../img/settings.png);
}

#menu-screen .option.quality-auto {
  background-image: url(../img/auto.png);
}

#menu-screen .option.quality-fhd {
  background-image: url(../img/fhd.png);
}

#menu-screen .option.quality-hd {
  background-image: url(../img/hd.png);
}

#menu-screen .option.quality-sd {
  background-image: url(../img/sd.png);
}

#menu-screen .option.about {
  background-image: url(../img/about.png);
}

#menu-screen .option.logout {
  background-image: url(../img/logout.png);
}

#menu-screen .option.return {
  background-image: url(../img/return.png);
}

#menu-screen .option.text {
  color: #fff;
  text-align: center;
  line-height: 38px;
  font-size: 20px;
  padding: 5px 0;
  transform: scaleY(3);
}

