#menu-screen {
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 5;
}

#menu-screen .content {
  height: 100%;
  width: 150px;
  padding: 50px 35px 50px 65px;
  /* transition: all 0.3s; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#menu-screen .content .options,
#menu-screen .content .tools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#menu-screen .content .options .option,
#menu-screen .content .tools .option {
  color: #fff;
  font-size: 25px;
  opacity: 0.5;
  margin: 30px 0;
}

#menu-screen .content .options .option i,
#menu-screen .content .tools .option i {
  float: left;
  width: 30px;
  text-align: center;
}

#menu-screen .content .options .option p,
#menu-screen .content .tools .option p {
  float: left;
  width: 0;
  overflow: hidden;
  height: 0;
  margin: 0;
  margin-left: 20px;
  line-height: 22px;
  text-transform: uppercase;
  /* transition: width 0.3s; */
  white-space: nowrap;
}

#menu-screen .content .options .option.selected,
#menu-screen .content .tools .option.selected,
#menu-screen .content .options .option.focus,
#menu-screen .content .tools .option.focus {
  opacity: 1;
  position: relative;
}

#menu-screen .content .options .option.focus::after,
#menu-screen .content .tools .option.focus::after {
  content: "";
  background: #f47521;
  /* box-shadow: 0 0 25px 6px #f47521, 0 0 15px 6px #f47521 inset; */
  width: 15px;
  height: 60px;
  position: absolute;
  left: -65px;
  top: -15px;
}

.open-menu #menu-screen {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
}

.open-menu #menu-screen .content {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 600px;
}

.open-menu #menu-screen .content .options .option p,
.open-menu #menu-screen .content .tools .option p {
  width: 300px;
  height: unset;
}

.open-menu #menu-screen .content .profile.premium i {
  display: block;
}

#menu-screen .content .options .profile {
  display: flex;
  align-items: center;
  margin-bottom: 125px;
  opacity: 1;
}

#menu-screen .content .options .profile .profile-text {
  width: 0;
  overflow: hidden;
  height: 0;
  margin: 0;
  text-transform: uppercase;
  margin-left: 20px;
}

#menu-screen .content .options .profile .profile-text .profile-change {
  font-size: 12px;
  opacity: 0.6;
}

#menu-screen .content .options .profile .avatar {
  border-radius: 50%;
  overflow: hidden;
  opacity: 0.6;
  width: 60px;
  height: 60px;
  margin-left: -10px;
  opacity: 1;
  float: left;
  border: 5px solid transparent;
}

#menu-screen .content .options .profile .avatar img {
  float: left;
  width: 100%;
}

#menu-screen .content .options .profile .profile-name {
  float: left;
  line-height: 22px;
  /* transition: width 0.3s; */
  white-space: nowrap;
  color: #fff;
  font-size: 18px;
}

#menu-screen .content .options .profile .profile-name span {
  float: left;
}

#menu-screen .content .options .profile i {
  color: #f47521;
  font-size: 15px;
  line-height: 20px;
  display: none;
}

.open-menu #menu-screen .content .options .profile .profile-text {
  width: auto;
  height: unset;
}

#menu-screen .content .options .profile.option.focus::after {
  display: none;
}

#menu-screen .content .options .profile.option.focus .avatar {
  border: 5px solid #f47521;
}