#video-screen {
  width: 100%;
  height: 100%;
  background: #000;
  position: relative;
}

#video-screen #background {
  width: 100%;
  height: 100%;
  position: absolute;
}

#video-screen #videoplayer {
  width: 100%;
  height: 100%;
  position: absolute;
}

#video-screen .osd {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.3) 90%,
    rgba(0, 0, 0, 0.6) 100%
  );
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  top: 0;
  opacity: 0;
  /* transition: opacity 0.5s; */
}

#video-screen .osd .details {
  width: 100%;
  padding: 2rem 4rem;
}

#video-screen .osd .details #title {
  padding: 1rem 0;
  font-size: 10vh;
  font-weight: bold;
  color: #fff;
}

#video-screen .osd .details #subtitle {
  padding: 0.3rem 0;
  font-size: 4vh;
  font-weight: bold;
  color: #fff;
}

#video-screen .osd .details #description {
  padding: 0.3rem;
  font-size: 2vh;
  font-weight: bold;
  color: #fff;
}

#video-screen .icon-status {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 8vw;
  height: 10vw;
  opacity: 0;
  /* transition: opacity 0.2s; */
}

#video-screen .icon-status .icon {
  width: 8vw;
  height: 10vw;
}

#video-screen .icon-status .percent {
  display: none;
}

#video-screen .icon-status.forward .icon,
#video-screen .icon-status.rewind .icon {
  display: flex;
  align-items: center;
}

#video-screen .icon-status.rewind .icon {
  transform: rotate(180deg);
}

#video-screen .icon-status .icon:before,
#video-screen .icon-status .icon:after {
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;
  border-left-color: #fff;
  border-style: solid;
  display: inline-block;
  vertical-align: middle;
  /* transition: all 0.25s; */
}

#video-screen .icon-status.play .icon:before {
  border-width: 2.5vw 0 2.5vw 4vw;
  height: 5vw;
}

#video-screen .icon-status.play .icon:after {
  border-width: 2.5vw 0 2.5vw 4vw;
}

#video-screen .icon-status.forward .icon:before,
#video-screen .icon-status.rewind .icon:before {
  border-width: 2.5vw 0 2.5vw 4vw;
  height: 0vw;
}

#video-screen .icon-status.forward .icon:after,
#video-screen .icon-status.rewind .icon:after {
  border-width: 2.5vw 0 2.5vw 4vw;
}

#video-screen .icon-status.pause .icon:before,
#video-screen .icon-status.pause .icon:after {
  border-width: 0 0 0 3vw;
  height: 10vw;
}

#video-screen .icon-status.pause .icon:after {
  margin-left: 2vw;
}

#video-screen .icon-status.loading {
  height: 8vw;
}

#video-screen .icon-status.loading .icon {
  content: "12%";
  box-sizing: border-box;
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  border: 1.5rem solid rgba(255, 255, 255, 0.4);
  border-top-color: #fff;
  animation: spin 0.7s infinite linear;
}

#video-screen .icon-status.loading .percent {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
}

#video-screen .icon-status.loading .icon:after,
#video-screen .icon-status.loading .icon:before {
  display: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#video-screen .osd .progress {
  padding: 4rem 4rem;
  width: 100%;
  display: flex;
  align-items: center;
}

#video-screen .osd .progress #total,
#video-screen .osd .progress #time {
  font-size: 1.5rem;
  color: #fff;
  padding: 0 1rem;
}

#video-screen .osd .progress .bar {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 1.5rem;
  overflow: hidden;
}

#video-screen .osd .progress .bar #played {
  background-color: #fff;
  width: 0%;
  height: 1.5rem;
  position: relative;
  max-width: 100%;
}

#video-screen .osd .progress .bar .preview {
  position: absolute;
  right: -9vw;
  width: 18vw;
  top: -11vw;
  display: none;
}

#video-screen .osd .progress .bar .preview #preview {
  width: 100%;
}
