<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Crunchyroll" version="1.0.0" viewmodes="maximized">
    <tizen:application id="OVGxVyz1R1.Crunchyroll" package="OVGxVyz1R1" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <feature name="http://tizen.org/feature/screen.size.all" />
    <feature name="http://tizen.org/feature/screen" />
    <feature name="http://tizen.org/feature/network.ethernet" />
    <icon src="icon.png"/>
    <name>Crunchyroll</name>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice" />
    <tizen:privilege name="http://developer.samsung.com/privilege/network.public"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo" />
    <tizen:privilege name="http://tizen.org/privilege/package.info" />
    <tizen:privilege name="http://tizen.org/privilege/application.info" />
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read" />
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write" />
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
